# See http://genbattle.bitbucket.org/blog/2016/01/17/c++-travis-ci

language: cpp
compiler: g++
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    - boost-latest
    packages:
    - gcc-5
    - g++-5
    - libboost1.55-all-dev
    - cmake
    - cmake-data
    - libxslt1.1
    - python-lxml
    - doxygen

before_install:
  - lsb_release -a
  - uname -a
  - sudo apt-add-repository -y "deb http://archive.ubuntu.com/ubuntu/ trusty main restricted"
  - sudo add-apt-repository -y "deb http://ppa.launchpad.net/dns/gnu/ubuntu precise main"
  - sudo add-apt-repository -y "deb http://ppa.launchpad.net/wnoronha/thrift/ubuntu precise main"
  - sudo add-apt-repository -y "deb http://ppa.launchpad.net/kzemek/boost/ubuntu utopic main"
  - sudo add-apt-repository ppa:george-edison55/precise-backports --yes
  - sudo apt-get update -qq
  - #sudo apt-get install cmake-data cmake
  - #sudo apt-get install -qq libthrift-dev libthrift0 thrift-compiler
  - ls -1 /usr/bin/g++*
  - sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-5 90

before_script:
  - echo "DIR:BUILD=/tmp/${USER}/utxx"                           > .cmake-args.$(hostname)
  - echo "DIR:INSTALL=/tmp/${USER}/install/@PROJECT@/@VERSION@" >> .cmake-args.$(hostname)
  - echo "PKG_ROOT_DIR=/usr/local"                              >> .cmake-args.$(hostname)
  - echo "WITH_THRIFT=OFF"                                      >> .cmake-args.$(hostname)
  - echo "BOOST_INCLUDEDIR=/usr/include"                        >> .cmake-args.$(hostname)
  - echo "BOOST_LIBRARYDIR=/usr/lib/x86_64-linux-gnu"           >> .cmake-args.$(hostname)
  - echo "WITH_ENUM_SERIALIZATION=ON"                           >> .cmake-args.$(hostname)
  - g++ --version
script:
  ############################################################################
  # All the dependencies are installed in ${TRAVIS_BUILD_DIR}/deps/
  ############################################################################
  - DEPS_DIR="${TRAVIS_BUILD_DIR}/deps"
  - mkdir -p ${DEPS_DIR} && cd ${DEPS_DIR}

  ############################################################################
  # Install a recent CMake (unless already installed on OS X)
  ############################################################################
  - |
    if [[ "${TRAVIS_OS_NAME}" == "linux" ]]; then
      CMAKE_URL="http://www.cmake.org/files/v3.5/cmake-3.5.2-Linux-x86_64.tar.gz"
      mkdir cmake && travis_retry wget --no-check-certificate --quiet -O - ${CMAKE_URL} | tar --strip-components=1 -xz -C cmake
      export PATH=${DEPS_DIR}/cmake/bin:${PATH}
    else
      if ! brew ls --version cmake &>/dev/null; then brew install cmake; fi
    fi

  - cd ${TRAVIS_BUILD_DIR}      # Go back to the root of the project and bootstrap
  - make bootstrap generator=make build=debug
  - make

branches:
  only: master
